/* door */
#door {
  height: 80%;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  text-align: center;
  z-index:1;
  transition:opacity .3s;
}

#door .hide {
  opacity: 0;
}


.overlay-door {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(65, 102, 182, 0.95);
  text-align: center;
  padding: 0;
  opacity: 0;
  transform: translateX(-500px);
  transition: transform .2s, opacity .2s;
  pointer-events: none;
}

.overlay-door.show {
  opacity: 1;
  transform: translateX(0);
}

.overlay-door2 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(250, 238, 213, 0.95);
  text-align: center;
  padding: 0;
  opacity: 0;
  transform: translateX(-500px);
  transition: transform 1s, opacity 1s;
  pointer-events: none;
}

.overlay-door2.show {
  opacity: 1;
  transform: translateX(0);
}

/* .overlay-door .hide {
  opacity: 0;
} */
