.mirror {
  display:flex;
  position: relative;
  justify-content: center;
} 

/* .mirror .fadeUp{
  justify-content: center;
  opacity: 1;
 } */
  
.mirror img{
  text-align: center;
  position: absolute;
  opacity: 0;
}

/* .mirror img .mi1 {
  text-align: center;
  position: absolute;
  opacity: 0;

  transition: opacity 1s;
} */

/* .mirror img .mi1 .fadeUp{
  text-align: center;
  position: absolute;
  opacity: 1;

  transition: opacity 1s;
} */

.mirror img .hide{
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}




.mirror img .mi8,.mi9,.mi10 {
  opacity: 0;

}

/* mirror フェードイン */
.m-fade-in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 2s, transform 2s;
}
.m-fade-in.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
/* mirror フェードイン opacity*/
.m-fade-in-opacity {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s;
}
.m-fade-in-opacity.show {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s;
}
.m-fade-in-opacity.hide {
  opacity: 0;
  visibility: visible;
}


/* mirror フェードイン left */
.m-fade-in-left {
  opacity: 0;
  visibility: hidden;
  transform: translatex(10px);
  transition: opacity .2s, transform .2s;
}
.m-fade-in-left.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

/* mirror フェードイン top*/
.m-fade-in-top {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity .2s, transform .2s;
}
.m-fade-in-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* mirror フェードイン right*/
.m-fade-in-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: opacity .2s, transform .2s;
}
.m-fade-in-right.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

/* mirror フェードイン bottoom*/
.m-fade-in-bottom {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity .2s, transform .2s;
}
.m-fade-in-bottom.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}